<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/boruto.png" alt="boruto" class="rounded-5" />
      <h1 class="display-4">Ahdan Firdaus</h1>
      <p class="lead">Fullstack Developer</p>
    </div>
  </div>
</div>